# Concatenating Text String

In [3]:
f="Rabia"
g="Jamil"
print(f+" "+g)

Rabia Jamil

In [4]:
len(f+" "+g)

11

In [5]:
print('abc'+123)

TypeError: can only concatenate str (not "int") to str

In [7]:
print('abc'+" "+'123')

abc 123

In [8]:
a = 10
type(a)

int

In [10]:
a =10
type(a)

int

In [13]:
a=str(a)#type casting

In [14]:
print("hello"+" "+a)

hello 10

In [16]:
e=12
e

12

In [17]:
str(e)

'12'

In [18]:
name="hira"
age= 24
print("My name is name and my age is age")

My name is name and my age is age

In [24]:
print("My name is" +" " +name +" "+ "and my age is age"+" "+str(age))

My name is hira and my age is age 24

In [25]:
type("My name is" +" " +name +" "+ "and my age is age"+" "+str(age))

str