# Python First Class

This is the first class of python

In [5]:
print("hello world !") #string

hello world !

In [2]:
print(123) #integer

123

In [3]:
print('hi!') #string

hi!

In [4]:
print(1.56) #float

1.56

In [9]:
print('hi', 123, 1.65, "yolo")

hi 123 1.65 yolo

In [10]:
print('hi', 123, 1.65, "yolo", sep='')

hi1231.65yolo

In [11]:
print('hi', 123, 1.65, "yolo", sep='@')

hi@123@1.65@yolo

In [12]:
print('hi', 123, 1.65, "yolo", sep='Separator')

hiSeparator123Separator1.65Separatoryolo