In [6]:
def car(model,year):
    print(model, year)

In [7]:
car('corolla','2019')

corolla 2019

In [8]:
car(model='toyota', year='2019')

toyota 2019

In [9]:
car(year='2019',model='toyota')

toyota 2019

In [11]:
def name(fname,lname):
    print(f'first name: {fname}')
    print(f'lastirst name: {lname}')

In [12]:
name(fname='rabia',lname='jamil')

first name: rabia
lastirst name: jamil

In [14]:
name(lname='jamil',fname='rabia')

first name: rabia
lastirst name: jamil

In [33]:
def name(fname,mname,lname):
    print(f'first name: {fname}')
    print(f'middle name: {mname}')
    print(f'last name: {lname}')

In [35]:
name('John', mname='Walten', 'Smith')

SyntaxError: positional argument follows keyword argument (<ipython-input-35-56187d5a7a1c>, line 1)

In [36]:
def name(fname,lname,mname):
    print(f'first name: {fname}')
    print(f'middle name: {mname}')
    print(f'last name: {lname}')

In [37]:
name('John', 'Smith', mname='Walten')

first name: John
middle name: Walten
last name: Smith

# Arbitary Number of Arguments

In [38]:
def pizza(size, flavour, *toppings):
    print(size, flavour)
    print(toppings)

In [39]:
pizza('large','chiken tikka','extra cheese','olives')

large chiken tikka
('extra cheese', 'olives')

In [40]:
pizza('large','chiken tikka','extra cheese')

large chiken tikka
('extra cheese',)

In [41]:
pizza('large','chiken tikka','extra cheese','olives')

large chiken tikka
('extra cheese', 'olives')

In [42]:
def car(make, model, **specs):
    print(make, model)
    print(specs)

In [44]:
car("toyota",'prius',transmission='Automatic', power='Yes')

toyota prius
{'transmission': 'Automatic', 'power': 'Yes'}

# functions as variables

In [65]:
def add(a,b):
    c=a+b
    return c

In [66]:
def sub(a,b):
    c=a-b
    return c

In [67]:
result= add(2,2)+ sub(6,4)

In [68]:
result

6

In [69]:
result= add('nasir','hussain')

In [70]:
result

'nasirhussain'